<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    {% block head%}{% endblock head%}
  </head>

  <body{% if background %} background="{{ background }}"{% endif %}{% if 'theme' in metadata %} class="{{ metadata['theme']|join(' ') }}"{% endif %}>

    <div class="wrap">
      <div id="contentDiv">
        {% block content %}{% endblock content %}
      </div>

{%   block sidebar %}{% include "layout/sidebar.html" %}{% endblock sidebar %}

      <div id="footer">
        <hr>
{%         block footer %}{% include "layout/footer.html" %}{% endblock footer %}
      </div>
    </div>

  </body>
</html>

