{% block sidebar %}
    <!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
    <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

    <!-- Toggleable sidebar -->
    <div class="sidebar" id="sidebar">

      <nav class="sidebar-nav">
        <div>
         <span class="sidebar-nav-item">
{%         if 'title' in metadata %}
            <p style="text-align: center; font-weight: bold; padding-bottom: 1em;">{{ metadata.title|join(' - ') }}</p>
{%         endif %}
{%         if toc %}{{ toc }}{% endif %}
        </span>
        </div>
      <br>
      <div class="sidebar-item">

{%     if 'logo' in metadata %}
{%      if 'logolink' in metadata %}
        <a href="{{ metadata.logolink|join('') }}">{% endif %}<img src="{{ to_base64(metadata.logo) }}">
        </a>
{%     endif %}
       <br>
{%     if metadata.copyright %}
       <p>&copy; {{ date.year }}{{ hrefs_from_keypair(metadata.copyright)|join(', ') }}</p>
{%     endif %}
      </div>

      </nav>

    </div>

{% endblock sidebar %}

{% block sblabel %}
    <label for="sidebar-checkbox" class="sidebar-toggle" title="Table of Contents"></label>
{% endblock sblabel %}
