{% extends "base.html" %}
    {% block head%}
{% for item in metadata if item|upper not in ['CSS', 'TITLE'] %}
    <meta name="{{ item }}" content="{{ metadata[item]|join(', ') }}">
{% endfor %}

    {% if 'title' in metadata %}<title>{{ metadata.title|join(' - ') }}</title>{% endif %}

    {% if 'favicon' in metadata %}
<!-- FAVICON -->
<link id="favicon" rel="icon" href="{{ to_base64(metadata.favicon) }}">
    {% endif %}

{% if 'css' in metadata %}
    <!-- CSS styles -->
    <style type="text/css">
        {{ css_compress(metadata.css) }}
    </style>
{% endif %}
{%   endblock head %}

{%    block content %}
 <div class="title">
{%     for item in metadata.title %}
         <p>{{ item }}</p>
{%       endfor %}
       <h3>{{ date.strftime('%d/%b/%Y') }}</h3>
       </div>
         <div class="content">
<!-- CONTENT PASSED FROM MARKDOWN CONVERSION -->
{%     if content %}
      {{ content }}
<!-- END OF CONVERTED MARKDOWN CONTENT -->
{%     else %}
         {{ lipsum() }}
{%     endif %}
       </div>
{%    endblock content %}
